body{
    background-color: black;
    color: #E7E5EF;
}

.wrapper{
    width: 100%;
    height: 100%;
}
.content{
    padding: 0px 0px;
}
.grid-header,
.grid-rightbar,
.grid-sidebar,
.grid-content,
.grid-footer{
    border: 2px solid #FAFF00;
    padding: 10px 10px;
    height: auto;
    margin: 10px;
}
.layouts{
    padding: 0px 30px;
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "header header header"
        "side content rightbar"
        "footer footer footer";
}
.grid-sidebar{

    grid-area: side;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    padding: 0px;
}
.grid-rightbar{
    grid-area: rightbar;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    padding: 0px;
    text-align: right;
}
.grid-content{
    grid-area: content;
    text-align: center;
    padding: 10px;
    margin-top: 2px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}
.grid-footer{
    grid-area: footer;
    text-align: center;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}
.grid-header{
    grid-area: header;
    text-align: center;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.linkRV:visited,
.linkRV:link{
    text-decoration: none;
    color: #E7E5EF;
    font-weight: 900;
    font-size: 18px;
    padding: 5px 10px;
    
}
.linkRV:hover{
    color: #FF9900;

}
.sideRV{
    color: #FAFF00;
    list-style-type: square;
    font-size: 24px;
    outline: 2px solid #FAFF00;
    text-align: left;
    padding-bottom: 5px;
    padding-left: 0px;
}
.sideRV:nth-child(2n){
    color: #FF9900;
}
.linkRV.current{
    color: #FF9900;
}

p{
    text-align: left;
}
.sidebarRV{
    margin: 0;
      padding: 0px;
}
.outLi{
    list-style-position: outside;
}
.inLi{
    list-style-position: inside;
}
.ulstRV{
    margin: 0;
      padding: 0px;
}
.lstRV{
    color: #FAFF00;
    list-style-type: square;
    font-size: 24px;
    outline: 2px solid #FAFF00;
    text-align: center;
    padding-bottom: 5px;
    padding-left: 0px;
}
.lstRV:nth-child(2n){
    color: #FF9900;
}
p{
    text-indent: 20px;
}
.pimportant{
    color: #FAFF00;
    text-align: center;
    text-indent: 0px;
}
.P-Button{
    border: 2px solid #FAFF00;
}
.kanevalus{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    visibility: hidden;
    transition: .64s ease-in-out;
}
.vepuvakus-davnusen{
    position: relative;
    bottom: -100vw;
    right: -100vh;
    display: flex;
    align-items: center;
  max-width: 800px;
  max-height: 600px;
  width: 60%;
  height: 80%;
  background-color: #f2f4f5;
  transform: rotate(32deg);
  transition: .64s ease-in-out;
}
.povekunosa {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 40%;
    height: 100%;
    overflow: hidden;
  }
  .povekunosa img {
    width: auto;
    height: 100%;
  }
  .kanevalustext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
    padding: 4rem;
  }
  .kanevalustext h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: #151414;
  }
  .kanevalustext p {
    font-size: .875rem;
    color: #5d5b5b;
    line-height: 1.5;
  }
  
  .kanevalustext a {
    text-decoration: none;
    color: #47BDFF;
  }
  .kanevalus:target {
    visibility: visible;
    opacity: 1;
  }
  .kanevalus:target .vepuvakus-davnusen {
    bottom: 0;
    right: 0;
    transform: rotate(0);
  }
  .kuchayevsena {
    position: absolute;
    right: -1rem;
    top: -1rem;
    width: 3rem;
    height: 3rem;
    font-size: 14px;
    font-weight: 300;
    border-radius: 100%;
    background-color: #47BDFF;
    z-index: 4;
    color: #f7f5f5;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
  }